version: 2
updates:

  # 1) TOP-LEVEL AGGREGATOR
  #    Scans the root POM, but ignores any dependencies physically declared in
  #    testing/**, legal-acceptance-test/**, etc.
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
      time: "09:00"
    target-branch: "main"
    labels:
      - "dependencies"
      - "common"
    # ***IMPORTANT***
    ignore:
      - dependency-name: "*"
        paths:
          - "testing/**"
          - "legal-acceptance-test/**"
          - "legal-core-plus/**"
    groups:
      spring:
        patterns:
          - "org.springframework*"
          - "org.springframework.boot:spring-boot*"
          - "org.springframework.security:spring-security*"
          - "org.springdoc:springdoc-openapi*"
        update-types:
          - "patch"
      osdu-core:
        patterns:
          - "org.opengroup.osdu:os-core-common"
        update-types:
          - "patch"
          - "minor"
          - "major"
      build-tools:
        patterns:
          - "org.projectlombok:lombok"
          - "com.google.guava:guava"
          - "io.github.git-commit-id:*"
          - "org.springframework.boot:spring-boot-maven-plugin"
        update-types:
          - "minor"
          - "patch"
      logging:
        patterns:
          - "org.apache.logging.log4j:*"
          - "ch.qos.logback:*"
          - "org.slf4j:*"
        update-types:
          - "minor"
          - "patch"
      data-format:
        patterns:
          - "com.fasterxml.jackson*"
          - "net.minidev:json-smart"
          - "com.google.code.gson:gson"
          - "org.yaml:snakeyaml"
        update-types:
          - "minor"
          - "patch"
      common-utils:
        patterns:
          - "commons-beanutils:commons-beanutils"
          - "io.github.resilience4j:*"
          - "org.apache.commons:*"
        update-types:
          - "minor"
          - "patch"

  # 2) legal CORE
  - package-ecosystem: "maven"
    directory: "/legal-core"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
    labels:
      - "dependencies"
      - "common"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      core-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # 3) SPI AZURE
  - package-ecosystem: "maven"
    directory: "/provider/legal-azure"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
    labels:
      - "dependencies"
      - "azure"
    groups:
      azure-dependencies:
        patterns:
          - "*"
        update-types:
          - "major"
          - "minor"
          - "patch"
